.product-card .title-text {
    font-size: 1.4rem;
    font-weight: bold;
}

.product-price{
    font-size: 1.6rem;
    font-weight: bold;
    padding-bottom: 1rem;
    color: #F84A4A;
}

.product-card {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.2s;
}

.product-card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.card-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}