:root {
  font-family: Fira-Sans-Condensed, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu-page h1 {
  font-size: 3rem;
  color: rgb(241, 18, 18);
  margin-bottom: 1rem;
  font-weight: 1000;
}

.menu-page h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 800;
}

.menu-page hr {
  margin: 2rem 0;
  border: none;
  border-top: 2px solid;
}

.img-item-info {
  width: 100%;
  width: 600px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.price-box {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: #F4F4F4;
}

.price-box h2 {
  font-size: 2rem;
  font-weight: 700;
}

.price-box .price-text {
  font-size: 2rem;
  color: #F84A4A;
  font-weight: 700;
}

.menu-item-info .description-text {
  font-size: 1.4rem;
  font-weight: 450;
  line-height: 1.6;
}