:root {
  font-family: Fira-Sans-Condensed, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu-page h1 {
  font-size: 3rem;
  color: rgb(241, 18, 18);
  margin-bottom: 1rem;
  font-weight: 1000;
}

.menu-page h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 800;
}

.menu-page hr {
  margin: 2rem 0;
  border: none;
  border-top: 2px solid;
}